<h2 class="main-title">{{ alcoholicType }} Cocktails</h2>

<div *ngIf="loading" class="loading-spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="!loading">
  <div *ngIf="cocktails.length > 0; else noResults">
    <div class="cocktail-grid">
      <a *ngFor="let cocktail of cocktails" [routerLink]="['/drink', cocktail.idDrink, getSlug(cocktail.strDrink)]" 
         class="cocktail-card-link">
        <mat-card class="cocktail-card">
          <img mat-card-image [src]="cocktail.strDrinkThumb" alt="{{ cocktail.strDrink }}">
          <mat-card-title>{{ cocktail.strDrink }}</mat-card-title>
        </mat-card>
      </a>
    </div>
  </div>
</div>

<ng-template #noResults>
  <p>No drins found for this alcohol type.</p>
</ng-template>
