.main-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2.2rem;
}

.cocktail-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.cocktail-card {
  width: 200px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}