.main-title {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.2rem;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 1rem;              // separar los botones del slider
    max-width: 1900px;
    margin: 2rem auto;
    height: 100%;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 10px 0;
    flex-grow: 1;
}

.cocktail-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.cocktail-card {
    min-width: 344px;
    max-width: 400px;       // límite máximo para pantallas grandes
    flex-shrink: 0;         // No se hace mas pequeño si no cabe
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.cocktail-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.2);
}

.cocktail-card img {
    width: 100%;            // La img ocupa todo el ancho de la tarjeta
    object-fit: contain;    // No se recorta la imagen
    border-radius: 4px 4px 0 0;
}

.cocktail-card mat-card-title {
    margin: 17px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;        // Puntos suspensivos
} 

.loading-spinner {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

p {
    text-align: center;
    color: #666;
}