.toolbar-custom {
  position: relative;
  display: flex;
  background-color: #ffe6be;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.1);
}

.toolbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 20px;
}

.clickable {
  cursor: pointer;
}

.random-button {
  position: absolute; 
  right: 16px;
  font-size: 18px;
  padding: 20px;
  background-color: #ff9800 !important;
  color: white !important;
}