.letters-container button {
    border: 1px solid #ccc;
    min-width: 50px;
}

.letters-container button.selected-letter {
    background-color: #1976d2;
    color: white;
}

.table-footer {
    margin-top: 1.5rem;
    color: #333;
    display: flex;
    gap: 30px;
}