<div *ngIf="drink">
    <h1>{{ drink.strDrink }}</h1>
    <img [src]="drink.strDrinkThumb" alt="{{ drink.strDrink }}" width="400" />
    <p><strong>Category:</strong>{{ drink.strCategory }}
      <button mat-button color="primary" [routerLink]="['/category', drink.strCategory]" style="margin-left: 10px;">
        Ver más
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </p>
    <p><strong>Alcoholic:</strong> {{ drink.strAlcoholic }}</p>
    <p><strong>Instructions:</strong> {{ drink.strInstructionsES || drink.strInstructions }}</p> <!-- ESP/ENG-->
<img src="assets/flags/fr.png" alt="Spanish flag" width="24" height="24" />
    <h3>Ingredients</h3>
    <ul>
        <li *ngFor="let ing of getIngredients(drink)">
          {{ ing.ingredient }} - {{ ing.measure }}
        </li>
    </ul>
</div>
