<h2 mat-dialog-title>Ingredients</h2>

<mat-dialog-content>
    <div *ngFor="let ingredient of data">
        <img [ngSrc]="getIngredientImage(ingredient.strIngredient)" alt="{{ingredient.strIngredient}}"
             width="170" height="170"
             priority/> <!-- Lazy loading using NgOptimizedImage -->
        <span class="ingredient-name">{{ ingredient.strIngredient }}</span>
        <span *ngIf="ingredient.strMeasure"> - {{ ingredient.strMeasure }}</span>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>